  // Import CSS from "node_modules" and "bower_components"
  // thanks to Stylus' "import css" and "paths" options
  @import 'prism/themes/prism-okaidia.css'
  // Check out "bower_components/prism/themes/" for available themes
  
  // New to Stylus? Check out http://learnboost.github.io/stylus
  // Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer
  /*!
   * Bespoke.js Demo Themes
   *
   * These styles are hard-coded to be pre-processor agnostic.
   * In reality, you should probably use -prefix-free or LESS / SCSS / Stylus.
   *
   * This is only scratching the surfact of what can be done.
   * Be creative and make something that surprises people! ;)
   *
   */
    
    
  * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin:0;
    padding:0;
  }
    
  @page {
    width:landscape;
    height:landscape;
    margin:0;
  }

  article {
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .3s ease;
    -ms-transition:all .3s ease;
    transition:all .3s ease;
    display: none;
  }
    
  article.bespoke-parent
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    -webkit-perspective: 600px
    -moz-perspective: 600px
    -ms-perspective: 600px
    perspective: 600px
    background: #303030

  img.lifehacker, img.upsuperx
    max-width: 500px
    border-radius: 5px
    
  article.bespoke-parent.green 
    background: hsla(91, 67%, 53%, 1)

  article.bespoke-parent.red 
    background: rgb(243, 111, 86)

  article.bespoke-parent.blue 
    background: rgb(86, 174, 231)

  article.bespoke-parent.pink 
    background: rgb(235, 156, 184)

  article.bespoke-parent.cyan
    background: rgb(42, 206, 185)

  article.bespoke-parent.white
    background: #fff;

  .long-list
    ul
      li
        line-height: 1em

  .bespoke-slide {
    -webkit-transition:0 .6s ease,opacity .6s ease,background .6s ease;
    -moz-transition:0 .6s ease,opacity .6s ease,background .6s ease;
    -o-transition:0 .6s ease,opacity .6s ease,background .6s ease;
    -ms-transition:0 .6s ease,opacity .6s ease,background .6s ease;
    transition:transform .6s ease,opacity .6s ease,background .6s ease;
    -webkit-transform-origin:50% 50% 0;
    -moz-transform-origin:50% 50% 0;
    -o-transform-origin:50% 50% 0;
    -ms-transform-origin:50% 50% 0;
    transform-origin:50% 50% 0;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    backface-visibility:hidden;
    display:flex;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    -o-box-orient:vertical;
    -ms-box-orient:vertical;
    -webkit-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:center;
    -moz-box-pack:center;
    -o-box-pack:center;
    -ms-box-pack:center;
    -webkit-justify-content:center;
    justify-content:center;
    -webkit-box-align:center;
    -moz-box-align:center;
    -o-box-align:center;
    -ms-box-align:center;
    -webkit-align-items:center;
    align-items:center;
    text-align:center;
    width:640px;
    height:480px;
    position:absolute;
    top:50%;
    margin-top:-240px;
    left:50%;
    margin-left:-320px;
    background: 0 0;
    -webkit-border-radius:0;
    border-radius:0;
    padding:40px;
  }

  .bespoke-slide
    img.avatar
      border-radius: 50%

  .photo-sources
    p
      font-size: 9px
      margin: 0
      padding: 0
      line-height: 1.2
    
  .bespoke-before {
    -webkit-transform:translateX(640px) translateX(-320px) rotateY(-20deg) translateX(-320px);
    -moz-transform:translateX(640px) translateX(-320px) rotateY(-20deg) translateX(-320px);
    -o-transform:translateX(640px) translateX(-320px) rotateY(-20deg) translateX(-320px);
    -ms-transform:translateX(640px) translateX(-320px) rotateY(-20deg) translateX(-320px);
    transform:translateX(640px) translateX(-320px) rotateY(-20deg) translateX(-320px);
  }
    
  .bespoke-after {
    -webkit-transform:translateX(-640px) translateX(320px) rotateY(20deg) translateX(320px);
    -moz-transform:translateX(-640px) translateX(320px) rotateY(20deg) translateX(320px);
    -o-transform:translateX(-640px) translateX(320px) rotateY(20deg) translateX(320px);
    -ms-transform:translateX(-640px) translateX(320px) rotateY(20deg) translateX(320px);
    transform:translateX(-640px) translateX(320px) rotateY(20deg) translateX(320px);
    }
    
  .bespoke-inactive 
    opacity: 0
    // -ms-filter:alpha(Opacity=0);
    // filter:alpha(opacity=0);
    pointer-events: none
    
  .bespoke-active
    opacity:1;
    -ms-filter:none;
    filter:none;
    -webkit-transition-delay:.2s;
    -moz-transition-delay:.2s;
    -o-transition-delay:.2s;
    -ms-transition-delay:.2s;
    transition-delay:.2s;
    
  .bespoke-bullet
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .3s ease;
    -ms-transition:all .3s ease;
    transition:all .3s ease;
  
    
  .bespoke-bullet-inactive
    opacity:0;
    // -ms-filter:alpha(Opacity=0);
    // filter:alpha(opacity=0);
    
  
  li.bespoke-bullet-inactive
    -webkit-transform:translateX(-10px) translateZ(-10px) rotateY(20deg);
    -moz-transform:translateX(-10px) translateZ(-10px) rotateY(20deg);
    -o-transform:translateX(-10px) translateZ(-10px) rotateY(20deg);
    -ms-transform:translateX(-10px) translateZ(-10px) rotateY(20deg);
    transform:translateX(-10px) translateZ(-10px) rotateY(20deg);
  
    
  .bespoke-bullet-active
    opacity:1;
    -ms-filter:none;
    filter:none;
      
  .bespoke-scale-parent
    -webkit-perspective:600px;
    -moz-perspective:600px;
    -ms-perspective:600px;
    perspective:600px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    
  .bespoke-progress-parent
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:5px;
    
  .bespoke-progress-bar
    -webkit-transition:width .6s ease
    -moz-transition:width .6s ease
    -o-transition:width .6s ease
    -ms-transition:width .6s ease
    transition:width .6s ease
    position: absolute
    height: 100%
    background: white
    
  .emphatic,.emphatic .bespoke-slide
    background: 0 0
    
  pre {
    -webkit-border-radius:8px;
    border-radius:8px;
    border:0!important;
    -webkit-box-shadow:none!important;
    box-shadow:none!important;
    padding:26px!important;
  }
    
  pre span {
    text-shadow:none!important;
  }
    
  body {
      background: 0 0;
      font-family:open sans,helvetica,arial,sans-serif;
      font-weight:300;
      font-size:18px;
      color:#f0f0f0;
  }
        
  h1 {
    font-size:72px;
    font-weight:900;
    line-height:82px;
    letter-spacing:-2px;
    margin-bottom:16px;
  }
    
  h2
    font-weight: 900
    font-size: 42px
    letter-spacing: -1px
    margin-bottom: 8px
    color: #F0F0F0

  .bespoke-slide.light h2
    color: rgba(0, 0, 0, .6);
    
  h3 {
    font-size:24px;
    font-weight:300;
    margin-bottom:24px;
    color:#e0e0e0;
  }
    
  hr {
    visibility:hidden;
    height:20px;
  }
    
  ul {
    list-style:none;
  }
    
  li {
    margin-bottom:12px;
  }
    
  p {
    line-height:22px;
    margin:0 100px 12px;
  }
    
  blockquote {
    max-width:75%;
  }
    
  small {
    font-size:50%;
  }
    
  a {
    color:#00f3a5;
    text-decoration:none;
  }
    
  a.black {
    color:#000;
  }
    
  .bespoke-slide.light a {
    color:rgba(0,0,0,.7);
  }
    
  .bespoke-slide.light h1 a {
    color:#00f3a5;
  }
    
  .avatar {
    display:block;
    width:120px;
    height:120px;
    -webkit-border-radius:120px;
    border-radius:120px;
    margin:0 auto;
  }
  
  .avatar--small {
    width:70px;
    height:70px;
  }
    
  .logo {
    background-position:center;
    background-repeat:no-repeat;
  }
    
  .logo--gulp {
    -webkit-background-size:25%;
    -moz-background-size:25%;
    background-size:25%;
    background-image:url(../images/gulp.png);
  }
    
  .background
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-size: cover
    background-position: center 
    background-repeat: no-repeat 
    z-index: -1

  .mindblown .background
    background-image: url(../images/gif/mindblown.gif)
    filter: brightness(50%)

  .motor .background
    background-image: url(../images/gif/motor.gif)
    filter: brightness(50%)

  .do .background
    background-image: url(../images/gif/do.gif)
    filter: brightness(50%)

  .martymcfly .background
    background-image: url(../images/gif/martymcfly.gif)
    filter: brightness(50%)

  .coffee .background
    background-image: url(../images/gif/coffee.gif)
    filter: brightness(50%)

  .sleepy .background
    background-image: url(../images/gif/sleepy.gif)
    filter: brightness(50%)

  .assembly-line .background
    background-image: url(../images/gif/assembly-line.gif)
    filter: brightness(50%)

  .giphoscope .background
    background-image: url(../images/gif/giphoscope.gif)
    filter: brightness(50%)

  .violin .background
    background-image: url(../images/violin.jpg)
    filter: brightness(50%)

  .dog-in-bed .background
    background-image: url(../images/dog-in-bed.jpg)
    filter: brightness(50%)

  .jogging .background
    background-image: url(../images/gif/jogging.gif)
    filter: brightness(50%)

  .reading .background
    background-image: url(../images/gif/reading.gif)
    filter: brightness(50%)

  .training .background
    background-image: url(../images/gif/training.gif)
    filter: brightness(50%)

  .writing .background
    background-image: url(../images/gif/writing.gif)
    filter: brightness(50%)

  .pumped .background
    background-image: url(../images/gif/pumped.gif)
    filter: brightness(50%)

  .google-hiring .background
    background-image: url(../images/google-hiring.jpg)
    filter: brightness(50%)

  .design .background
    background-image: url(../images/design.jpg)
    filter: brightness(50%)

  .tea .background
    background-image: url(../images/gif/tea.gif)
    filter: brightness(50%)

  .todo-app .background
    background-image: url(../images/todo-app.jpg)
    filter: brightness(50%)

  .todo-list .background
    background-image: url(../images/todo-list.jpg)
    filter: brightness(50%)

  .wiki .background
    background-image: url(../images/wiki.jpg)
    filter: brightness(50%)

  .mac-and-cat .background
    background-image: url(../images/mac-and-cat.jpg)
    filter: brightness(50%)

  .cleese .background
    background-image: url(../images/gif/cleese.gif)
    filter: brightness(50%)

  .inbox .background
    background-image: url(../images/inbox.jpg)
    filter: brightness(50%)

  .markdown .background
    background-image: url(../images/markdown.jpg)
    filter: brightness(50%)

  .plaintext .background
    background-image: url(../images/plaintext.jpg)
    filter: brightness(50%)

  .multilingual .background
    background-image: url(../images/multilingual.jpg)
    filter: brightness(50%)

  .try-git .background
    background-image: url(../images/try-git.jpg)
    filter: brightness(50%)

  .git-branches .background
    background-image: url(../images/git-branches.png)
    filter: brightness(20%)

  .irc .background
    background-image: url(../images/irc.jpg)
    filter: brightness(50%)

  .slack .background
    background-image: url(../images/slack.jpg)
    filter: brightness(40%)

  .search .background
    background-image: url(../images/search.jpg)
    filter: brightness(50%)

  .google .background
    background-image: url(../images/google.jpg)
    filter: brightness(40%)

  .keyboard .background
    background-image: url(../images/keyboard.jpg)
    filter: brightness(50%)

  .launcher .background
    background-image: url(../images/launcher.jpg)
    filter: brightness(50%)

  .office .background
    background-image: url(../images/office.jpg)
    filter: brightness(50%)

  .learn-english .background
    background-image: url(../images/learn-english.jpg)
    filter: brightness(50%)

  .script .background
    background-image: url(../images/script.jpg)
    filter: brightness(50%)

  .cloud .background
    background-image: url(../images/cloud.jpg)
    filter: brightness(50%)

  .macmini .background
    background-image: url(../images/macmini.jpg)
    filter: brightness(50%)

  .linux .background
    background-image: url(../images/linux.jpg)
    filter: brightness(50%)

  .firefox .background
    background-image: url(../images/firefox.jpg)
    filter: brightness(50%)

  .clap .background
    background-image: url(../images/gif/clap.gif)
    filter: brightness(50%)

  .cat-and-keyboard .background
    background-image: url(../images/cat-and-keyboard.jpg)
    filter: brightness(50%)

  .key-indicator .background
    background-image: url(../images/key-indicator.jpg)
    filter: brightness(35%)

  .seinfeldwhoa .background
    background-image: url(../images/gif/seinfeldwhoa.gif)
    filter: brightness(50%)

  .no .background
    background-image: url(../images/gif/no.gif)

  .slowclap .background
    background-image: url(../images/gif/slowclap.gif)
    filter: brightness(50%)

  .bram .background
    background-image: url(../images/bram.jpg)
    filter: brightness(50%)

  .stallman .background
    background-image: url(../images/stallman.jpg)
    filter: brightness(50%)

  .editor .background
    background-image: url(../images/editor.jpg)
    filter: brightness(20%)

  .vim-cheatsheet .background
    background-image: url(../images/vim-cheatsheet.jpg)
    filter: brightness(50%)

  .errorists .background
    background-image: url(../images/errorists.jpg)
    filter: brightness(50%)

  .question .background
    background-image: url(../images/question.jpg)

  .record .background
    background-image: url(../images/record.jpg)
    filter: brightness(50%)

  .arduino .background
    background-image: url(../images/arduino.jpg)
    filter: brightness(50%)
    
  .gif--fight {
    background-image:url(../images/gif/fight.gif);
  }
    
  .gif--omg-grunt {
    background-image:url(../images/gif/yeaa.gif);
  }
    
  .gif--omg-plugins {
    background-image:url(../images/gif/bubbles.gif);
  }
    
  .gif--cowboy-reaction {
    background-image:url(../images/gif/demitri.gif);
  }
    
  .gif--grunt-happy {
    background-image:url(../images/gif/neverending.gif);
  }
    
  .gif--well-done {
    background-image:url(../images/gif/slowclap.gif);
  }
    
  .gif--gulp {
    background-image:url(../images/gif/ryu.gif);
  }
    
  .gif--gulp-api {
    background-image:url(../images/gif/clap.gif);
  }
    
  .gif--no {
    background-image:url(../images/gif/no.gif);
  }
    
  .gif--thats-it {
    background-image:url(../images/gif/shigeru.gif);
  }
    
  .gif--vinyl {
    background-image:url(../images/gif/vinyl.gif);
  }
    
  .gif--wrong-question {
    background-image:url(../images/gif/no-answer.gif);
  }
    
  .gif--orchestrator {
    background-image:url(../images/gif/conductor.gif);
    -webkit-background-size:160%;
    -moz-background-size:160%;
    background-size:160%;
    background-position:50% -220px;
  }
    
  .gif--anger {
    background-image:url(../images/gif/angry-amy.gif);
  }
    
  .gif--gulp-is-awesome {
    background-image:url(../images/gif/anchorman.gif);
  }
    
  .gif--future {
    background-image:url(../images/gif/future.gif);
  }
    
  code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection,code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection {
    text-shadow:none;
    background:hsla(0,0%,93%,.15);
  }
  
  body .bespoke-slide.light,.bespoke-slide.light h3 {
    color:rgba(0,0,0,.5);
  }
  
@media print{
  * {
      -webkit-print-color-adjust:exact;
  }
  
  article.bespoke-parent {
      overflow:visible;
      position:static;
  }

  .bespoke-slide {
    zoom:1!important;
    height:743px;
    width:100%;
    page-break-before:always;
    position:static;
    margin:0;
  }

  .bespoke-after {
    -webkit-transform:none;
    -moz-transform:none;
    -o-transform:none;
    -ms-transform:none;
    transform:none;
  }

  .bespoke-scale-parent {
    -webkit-transform:none!important;
    -moz-transform:none!important;
    -o-transform:none!important;
    -ms-transform:none!important;
    transform:none!important;
  }

  .bespoke-progress-parent {
    display:none;
  }

  .bespoke-inactive,.bespoke-bullet-inactive {
    opacity:1;
    -ms-filter:none;
    filter:none;
  }
}

// @media only screen and min-width1366px{
//   .bespoke-progress-parent {
//     height:10px;
//   }
// }

body
  font-family: "Noto Sans", "Noto Sans S Chinese"

