doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title The Way To Be More Productive

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body.coverflow

    article

      section
        h1 提升生产力

      section
        h2.bullet 免责申明
        ul
         li 我不好乱讲
         li 方法与工具都是基于个人经验
         li 并非适用于所有人，请根据实际情况斟酌选择
         li 讲师还没开讲就挖了个大坑。。。

      section
        h2.bullet 本主题
        ul
          li 不是教如何写代码
          li 不是教如何做网站、做软件
          li 是通用的技巧
          li 自然和计算机还是脱不开关系啦

      section
        h2.bullet 效率与成效
        ul
          li Efficiency, doing things right.
          li Effectiveness, doing right things.
          li 两者都很重要

      section
        h2 提升生产力的益处在于
        h3.bullet 可以
        ul
          li 减少压力，轻松快乐
          li 写的少，睡的多
          li 玩啦
          li “我终于有时间可以带孩子了！”

      section
        h2 如何做到
        h3 很好，现在告诉我应该怎么做？

      section
        h2 投入时间
        h3 花时间才会有回报

      section
        h2.bullet 1%的天赋与99%的努力
        ul
          li 不举这个例子都对不起爱迪生

      section
        h2.bullet 10000小时原则
        ul
          li 这个梗来自 Malcolm Gladwell 的书 Outliers
          li 8小时/天，大约是3.4年
          li 还不带休息的
          li 嫌多？降低点标准试试
          li 1 * 365 * 3 = 1095 小时
          li (5 + 10) * 52 * 3 = 2340 小时
          li 业余爱好还好啦

        
      section
        h2 找到兴趣点
        h3 兴趣是最大的推动力

      section
        h2.bullet 什么召唤我前进？
        ul
          li Money
          li 我就是喜欢写代码
          li 学点什么
          li 做点什么
          li 让世界变得更美好

      section
        h2 保持健康
        h3 “身体是革命的本钱”

      section
        h2.bullet 保证充足的睡眠
        ul
          li 一般论
          li 保证7小时睡眠
          li 不要睡太晚
          li 适当午睡是个好习惯
          li 别提那些奇葩睡眠法，我不信啦

      section
        h2.bullet 茶歇
        ul
          li 起来活动
          li 保护眼睛
          li 保护胃
          li 多喝水，但也别喝太多
          li 咖啡，茶也是不错的选择
          li 少喝瓶装饮料

      section
        h2.bullet 适当运动
        ul
          li 各类体育项目
          li 保持身材
          li 走路也很靠谱

      section
        h2 输出来自输入
        h3 吃什么吐什么

      section
        h2.bullet "程序员是一种将咖啡转换为代码的神奇物种。"
        ul
          li 喝墨水倒也可以考虑
          li 平时多积累
          li 关键时刻不掉链子
          li 多读
          li 多练
          li 多写

      section
        h2.bullet 多读
        ul
          li 专业相关的书
          li 兴趣书
          li 邮件列表
          li 专栏网站
          li 线下聚会

      section
        h2.bullet 多练
        ul
          li 提问
          li 自己做东西玩
          li 找人一起做东西玩

      section
        h2.bullet 多写
        ul
          li 笔记
          li 网志
          li 参与开源项目
          li 开源自己的成果
          li 讲课分享

      section
        h2 Just Do It.
        h3 做就对了
    
      section
        h2 好方法&好工具
        h3 我们来点实际的

      section
        h2.bullet 目标与计划
        ul
          li 目标是预想的结果
          li 计划是实现的步骤
          li 目标需要拆分成可达成的小目标
          li 集中精力完成
          li 细节因人而异

      section
        h2.bullet 我这么定计划
        ul
          li 长期计划太遥远，记住就好不用想太多
          li 计划赶不上变化
          li 一般只做到周的计划
          li 专注于今天，现在

      section
        h2.bullet 反馈与回顾
        ul
          li 记录做过的事情
          li 记录踩过的坑
          li 不怕忘
          li 没事可以拿出来笑自己以前傻

      section
        h2.bullet 记哪里？
        ul
          li to-do list ?
          li GTD ?

      section
        h2 life hacker 梗

      section
        h2.bullet 纸笔
        ul
          li 几乎随手记
          li 不用纠结好不好用
          li 不用纠结好不好看
          li 简单有效

      section
        h2.bullet wiki
        ul
          li 让别人可以看到
          li 有历史记录
          li “我没偷懒！”

      section 
        h2 异步工作
        h3 梗来自 Zack Holman 

      section
        h2.bullet 异步的好处
        ul
          li 尽量少卡在别人的环节上
          li 自己掌握主动权
          li 不卡意味着并行少，需要关注的也少
          li 排除干扰，集中精力

      section
        h2.bullet Now or Never
        ul
          li 真正紧急的事情，昨天就该做完啦
          li 没定的事情，多想也没用
          li 专注于现在

      section
        h2.bullet 处理邮件
        ul
          li 把私人与工作分开两个邮箱
          li 邮件是工作规范，留记录
          li 其实更像工单性质
          li 定时检查，次数不宜多，一般我一天早晨看一次中午看一次
          li 因为紧急重要的事情是当面或电话沟通的
          li 把重点需要跟进的标记出来
          li 但不是现在处理
          li 可以考虑往Gmail备份一份，搜索比较好用

      section
        h2.bullet 内容请使用纯文本
        ul
          li 跟格式、软件无关
          li 随手找个设备、系统就能阅读，能写英文更好
          li 是个编辑器都能改
          li 想显摆的土豪巨巨请无视

      section
        h2.bullet 适当考虑简单的标记语言
        ul
          li markdown
          li wikipedia
          li 机器看得懂
          li 人也看得懂

      section
        h2.bullet 字符编码请使用Unicode
        ul
          li 世界上不只是使用一种语言
          li 主流系统支持

      section
        h2.bullet 源代码管理用 Git
        ul
          li 离线
          li 快速
          li 直接了当
          li 源代码不一定是代码，文本也可以是

      section
        h2.bullet Git 托管
        ul
          li GitHub （其实这是一个社交网站）
          li GitLab 支持私有
          li Fork & Pull-Request 方便合作
          li 支持代码审查、持续集成
          li 方便展示工作

      section
        h2.bullet IRC
        ul
          li 很老
          li 但没过时
          li 找国外开发者即时聊天一般只有这条路
          li irssi / XChat / Colloquy

      section
        h2.bullet Slack - Be less busy.
        ul
          li 多人即使聊天，类IRC
          li 有归档
          li 能搜索！（赞）
          li 能放代码片段，附件，一样能搜索！（赞）
          li 基于Web，意味着跟系统无关
          li 有API可以自己扩展！（大赞）

      section
        h2.bullet 项目管理？
        ul
          li 纸笔（我是认真的）
          li 其实程序员都很懒
          li Issue Tracker
          li 看板
          li Trello

      section
        h2 养成好习惯
        h3 作风与习惯代表一个人

      section
        h2.bullet 如何引入新技巧
        ul
          li 一次不宜过多
          li 循序渐进
          li 找人一起玩是比较好的

      section
        h2.bullet 请用好搜索
        ul
          li 提问前先搜索
          li 国事找百度
          li 专业请放狗

      section
        h2.bullet Google使用技巧

      section
        h2 请爱用键盘
        h3 键盘是程序员最好的朋友

      section
        h2.bullet 用键盘的好处
        ul
          li mouse-free 
          li 想哪打哪
          li 快、准、稳
          li 很多情况下只有键盘可以用

      section
        h2.bullet Launcher应用
        ul
          li 不用找菜单，不用双击鼠标
          li Windows 7 以上自带
          li Launchy (Windows)
          li Spotlight (Mac OS X)
          li Alfred (Mac OS X) 好贵的，我没用过
          li Unix/Linux 比较注重这个，不论什么DE或WM一般都自带

      section
        h2.bullet 深入一个编辑器
        ul
          li 好的编辑器提升效率
          li 扩展能力
          li Notepad++ (Windows)
          li Sublime Text 2/3 （$）
          li Atom (Mac OS X)

      section
        h2.bullet IDE?
        ul
          li 我真不用IDE，除非搞不定
          li 但我可以推荐我用过的
          li Eclipse ，老牌，通用，管用
          li PyCharm / PyDev / Ulipad
          li Visual Studio （说好不打脸的！）

      section
        h2 Vim & Emacs
        h3 说好不打脸的！

      section
        h2.bullet 为什么推荐 Vim & Emacs
        ul
          li 30余年老字号
          li 老师傅都在用
          li 投入有回报
          li 几乎无所不能

      section
        h2.bullet Vim
        ul
          li 编辑器之神
          li Esc/HJKL
          li vim script
          li 扩展丰富
          li 脚本语言扩展（推荐用Python）

      section
        h2.bullet Emacs
        ul
          li 神之编辑器
          li “Emacs是一个仅缺乏优秀编辑器的操作系统。”
          li Ctrl
          li Emacs Lisp
          li ELPA

      section
        h2 自动化
        h3 让机器为我干活

      section
        h2.bullet 学习一门脚本语言
        ul
          li Ruby / Python / Perl / JavaScript
          li 易于上手
          li 疗效好，疗效快
          li 系统、图形自动化？
          li Selenium
          li Apple Script
          li 按键精灵？（说好不打脸的！）

      section
        h2.bullet 云服务与同步
        ul
          li Google Chrome
          li Dropbox
          li Apple iCloud

      section
        h2 一些值得考虑尝试的东西
        h3 真的不是在做广告啦

      section
        h2.bullet Mac 设备以及 Mac OS X
        ul
          li 硬件的工业设计很出色（拆过你就知道）
          li Mac OS X 系统好用
          li 漂亮
          li 贵、贵、贵
          li 我还是更喜欢iPod系列
          li 已经不玩Mac了

      section
        h2.bullet Linux & Unix
        ul
          li 实践证明
          li 易于安装与使用
          li Ubuntu / Mint / ElementaryOS
          li Fedora / CentOS 
          li OpenSUSE
          li 高度定制
          li Debian / Archlinux / Slackware
          li Gentoo / Funtoo / LFS
          li Unix
          li FreeBSD / OpenBSD / OpenSolaris

      section
        h2.bullet 浏览器的实现
        ul
          li Gecko (Mozilla Firefox)
          li Blink (Google Chromium)
          li Webkit (Apple Safari)

      section
        h2.bullet 搞把满意的键盘
        ul
          li 别不在意
          li 吃饭的家伙，直接影响效率
          li 注意用途
          li 布局、功能
          li 键程、键轴、键帽
          li $ 量力而行。

      section
        h2.bullet 挑选键盘
        ul
          li 这不是广告，是经验
          li 便宜好用，Dell SK8115，但是寿命短，已停产
          li 机械键盘，入门推荐Cherry茶
          li 茶轴、青轴适合打字，有段落感
          li 红轴适中，也适合打字
          li 黑轴，压力克数大，适合玩游戏
          li 更小众的轴都是玩家玩的，就不推荐了
          li 有无钢板
          li 静电的坑太大，也不推荐了
          li 104 / 87 / MINI 布局
          li 自制、改造（DIY）

      section
        h2.bullet 总结一下
        ul
          li 投入时间，肯投入，才有回报
          li 找到兴趣与爱
          li 保持健康
          li 多看、多练、多写，重要的是去做，去实践
          li 找到适合自己的方法与工具
          li 养成良好习惯，培养技能
          li 尝试一些新东西，拓宽广度的同时强化深度
          li 


    script(src='build/build.js')
