doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body.coverflow

    article

      section
        h1 提升生产力

      section
        h2 免责申明
        h3 我不好乱讲

      section
        h2.bullet 本主题
        ul
          li 不是教如何写代码
          li 不是教如何做网站、做软件
          li 是通用的技巧
          li 自然和计算机还是脱不开关系啦

      section
        h2.bullet 效率与成效
        ul
          li Efficiency, doing things right.
          li Effectiveness, doing right things.
          li 两者都很重要

      section
        h2 提升生产力的益处在于
        h3.bullet 可以
        ul
          li 减少压力，轻松快乐
          li 写的少，睡的多
          li 玩啦
          li “我终于有时间可以带孩子了！”

      section
        h2 如何做到
        h3 很好，现在告诉我应该怎么做？

      section
        h2 投入时间
        h3 花时间才会有回报

      section
        h2.bullet 1%的天赋与99%的努力
        ul
          li 不举这个例子都对不起爱迪生

      section
        h2.bullet 10000小时原则
        ul
          li 这个梗来自 Malcolm Gladwell 的书 Outliers
          li 8小时/天，大约是3.4年
          li 还不带休息的
          li 嫌多？降低点标准试试
          li 1 * 365 * 3 = 1095 小时
          li (5 + 10) * 52 * 3 = 2340 小时
          li 业余爱好还好啦

        
      section
        h2 找到兴趣点
        h3 兴趣是最大的推动力

      section
        h2.bullet 什么召唤我前进？
        ul
          li Money
          li 我就是喜欢写代码
          li 学习
          li 创造
          li 让世界变得更美好

      section
        h2 保持健康
        h3 “身体是革命的本钱”

      section
        h2.bullet 保证充足的睡眠
        ul
          li 一般论
          li 保证7小时睡眠
          li 不要睡太晚
          li 适当午睡是个好习惯
          li 别提那些奇葩睡眠法，我不信啦

      section
        h2.bullet 茶歇
        ul
          li 起来活动
          li 保护眼睛
          li 保护胃
          li 多喝水，但也别喝太多
          li 咖啡，茶也是不错的选择
          li 少喝瓶装饮料

      section
        h2.bullet 适当运动
        ul
          li 各类体育项目
          li 保持身材
          li 走路也很靠谱

      section
        h2 输出来自输入
        h3 吃什么吐什么

      section
        h2.bullet "程序员是一种将咖啡转换为代码的神奇物种。"
        ul
          li 喝墨水倒也可以考虑
          li 平时多积累
          li 关键时刻不掉链子
          li 多读
          li 多练
          li 多写

      section
        h2.bullet 多读
        ul
          li 专业相关的书
          li 兴趣书
          li 邮件列表
          li 专栏网站

      section
        h2.bullet 多练
        ul
          li 提问
          li 自己做东西玩
          li 找人一起做东西玩

      section
        h2.bullet 多写
        ul
          li 笔记
          li 网志
          li 参与开源项目
          li 开源自己的成果
          li 讲课分享
    
      section
        h2 好方法&好工具
        h3 我们来点实际的

      section
        h2 一些值得考虑尝试的东西
        h3 真的不是在做广告啦

      section
        h2 爱折腾
        h3 不折腾会死星人

      section
        h2 找榜样
        h3 他/她/它们都是我的英雄

    script(src='build/build.js')
